.footer{
    padding: 50px;
    margin-top: 50px;
    background-color: #d3cef2;
    box-sizing: border-box;
}

.foot-title{
    color: black !important;
}

.footUl{
    margin-top: 1.8rem;
    padding: 0 !important;
    color: gray;
}

.footUl li{
    line-height: 1.5rem;
}

.footUl li a{
    transition: color 0.3s !important;
}

.footUl li a:hover{
    color: black !important;
}